body {
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #111;
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, #111, #1e1e2f);
    color: white;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.service-card,
.project-card {
    border: none;
    border-radius: 15px;
    transition: 0.3s;
}

.service-card:hover,
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

footer {
    background: #111;
    color: white;
}

.project-image-scroll {
    scroll-behavior: smooth; /* smooth scrolling */
    padding-bottom: 10px;
}

.project-image-scroll img {
    max-height: 250px; /* keep consistent height */
    cursor: grab;
    transition: transform 0.3s ease;
}
.project-image-scroll img:hover {
    transform: scale(1.05); /* small zoom effect */
}

.contact-item i {
    font-size: 1.25rem; /* bigger icon */
    vertical-align: middle;
}

.contact-item a {
    color: #0d6efd; /* Bootstrap primary color */
    font-weight: 500;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}
